In [1]:
def hello_world(name):
    pass

# return empty function

In [2]:
def my_sq(x):
    return x**2

In [3]:
my_sq(4)

16

In [4]:
# we can inspect use assert
assert my_sq(4) == 16

#retrun false will give error

### Create a dataframe and apply function

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame({
    'a': [10,20,30],
    'b': [20,30,40]
})

df

    a   b
0  10  20
1  20  30
2  30  40

In [7]:
df['a']**2

# operation applies to every series

0    100
1    400
2    900
Name: a, dtype: int64

In [8]:
df['a'].apply(my_sq)

# apply all 'a' series with my_sq function

0    100
1    400
2    900
Name: a, dtype: int64

### next example,

In [9]:
def my_exp(x,e):
    return x**e

In [10]:
df['a'].apply(my_exp, e=5)

0      100000
1     3200000
2    24300000
Name: a, dtype: int64

In [11]:
def my_print(x):
    print(x)

In [12]:
df.apply(my_print)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [13]:
# return none because the function has no return just print

In [14]:
import numpy as np

In [15]:
def avg_3_apply(x):
    return np.mean(x)

In [16]:
df.apply(avg_3_apply)
# return the mean for every series

a    20.0
b    30.0
dtype: float64

In [17]:
df['a'].mean()

# pandas include numpy so no need numpy

20.0

In [18]:
# @np.vectorize
def avg_2_Nan(x,y):
    if (x==20):
        return np.NaN
    else:
        return (x+y)/2

In [19]:
avg_2_Nan(df['a'], df['b'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
avg_2_Nan_vec = np.vectorize(avg_2_Nan)
# with vectorize the lst can be returned

In [21]:
avg_2_Nan_vec(df['a'], df['b'])

array([15., nan, 35.])